extends layout
block content

  // Main container
  main
    section#hero
        h1 ALL ITEMS
        label.toggle
          input(type='checkbox')
          span.slider
          span.labels(data-on='LOST' data-off='FOUND')
  // Sidebar container
  #sidebar
    h1 Categories
    ui
      a(href='#' class='filter' data-category='all') All Categories
      a(href='#' class='filter' data-category='Clothing') Clothing
      a(href='#' class='filter' data-category='Electronics') Electronics
      a(href='#' class='filter' data-category='Sports Equip') Sport Equip.
      a(href='#' class='filter' data-category='Student ID') Student ID
      a(href='#' class='filter' data-category='Other') Other
  // Content container
  #content
    .sort
      p Sort By
      button#sort-by-date-btn(onclick="sortPosts('date')")
        | Date Posted 
        i.fa-solid.fa-chevron-down

    // make posts clickable
    .posts#post-container
        // Posts
        for item in data
          .post-box(data-category=item.category, data-category2=item.category2, data-type=item.type)
            h2 #{item.item_name}
            .post-box-image 
              img(src=item.path width='100')
            .post-text
              .post-location
                img(src='public/images/location.png' width='17' height='20')
                p #{item.location}
              div #{item.date}

    script(src='public/script/filtering.js')
